*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #222220;
}

.wrapper{
    width: 1190px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
}

.header__nav_manu{
    display: flex;
    align-items: center;
    column-gap: 42px;
    font-size: 18px;
    position: relative;
    

}

.header__nav_manu a{
    text-decoration: none;
    color: #fff;
    transition: color .5s;
}

.header__nav_manu a:hover{
    color: #CB3B48;
    ;
}

.header__drop_down_manu{
    display: none;
    background: #222220;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 11px 9px;
    width: 172px;
    position: absolute;
}

.header_nav_manu:last-child:hover .header__drop_down_manu{
    display: block;
}

.header__phone{
    background-color: #000;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(189 45 67 / 50%);
}


.header__phone:hover{
    background-color: #CB3B48;
}
.header__btn{
    height: 50px;
    width: 179px;
    font-size: 16px;
    color: #fff;
    background-color: #CB3B48;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all .5s;
}

.header__btn:hover{
    background-color: #fff;
    color: #CB3B48;
}

.news_section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: url(img/bg.png) no-repeat 50%/cover;
}

.news_section__text{
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 40px;
}

.news_section__slider{
    display: flex;
    margin-top: 30px;
}

.arr{
   position: relative;
   top: 125px;
   cursor: pointer;
   transition: filter .5s;
   height: 50px;
}

.arr:hover{
    filter: invert(1);
}