*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #222220;
}

.wrapper{
    width: 1190px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
}

.header__nav_manu{
    display: flex;
    align-items: center;
    column-gap: 42px;
    font-size: 18px;
    position: relative;
    

}

.header__nav_manu a{
    text-decoration: none;
    color: #fff;
    transition: color .5s;
}

.header__nav_manu a:hover{
    color: #CB3B48;
    
}

.header__drop_down_manu{
    display: none;
    background: #222220;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 11px 9px;
    width: 172px;
    position: absolute;
}

.hov:hover .header__drop_down_manu{
    display: block;
}


.header__drop_down_item{
    border-top: 2px solid #2F2F2F;;
}

.header__phone{
    background-color: #000;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(189 45 67 / 50%);
}


.header__phone:hover{
    background-color: #CB3B48;
}
.header__btn{
    height: 50px;
    width: 179px;
    font-size: 16px;
    color: #fff;
    background-color: #CB3B48;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all .5s;
}

.header__btn:hover{
    background-color: #fff;
    color: #CB3B48;
}

.news_section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: url(img/bg.png) no-repeat 50%/cover;
}

.news_section__text{
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 40px;
}

.news_section__slider{
    display: flex;
    margin-top: 30px;
}

.arr{
   position: relative;
   top: 125px;
   cursor: pointer;
   transition: filter .5s;
   height: 50px;
}

.arr:hover{
    filter: invert(1);
}

.bar_manu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #222220;
}


.bar_manu__text{
    display: flex;
    column-gap: 40px;
    margin-top: 35px;
}

.bar_manu__text h3{
    font-size: 30px;
    color: #505050;
    text-transform: uppercase;
}

.bar_manu__text h3:last-child{
    color: #fff;
}

.bar_manu__nav{
    display: flex;
}

.bar_manu__dishes_list{
    display: flex;
    list-style: none;
}

.bar_manu__dishes_list a{
    color: #fff;
    text-decoration: none;
}
.bar_manu__search{
    display: flex;
}
.bar_manu__search input{
    border: 1px solid #B7B7B7;
    outline-style: none;
    background: #222220;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 0 16px 23px;
    font-size: 16px;
    
}

.bar_manu__btn{
    height: 50px;
    width: 50px;
    background-color: #CB3B48;
    position: relative;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 15px #CB3B48;
    
}

.bar_manu__btn::after{
    content:'' ;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 8px;
    left: 8px;
}
.bar_manu__btn::before{
    content: '';
    height: 2px;
    width: 13px;
    position: absolute;
    top: 31px;
    left: 26px;
    background-color: #fff;
    transform: rotate(45deg);
}