*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    width: 400px;
    margin: 50px;

}
.widgets{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: #00BFFF;
}

.block_container{
    display: flex;
    width: 100%;
    
}
.big_widgets{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    flex-grow: 1;
    background: #000080;
    /* border: 2px solid #fff; */

}

.big_widgets:nth-child(2){
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: #00BFFF;
}
h2{
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
}
h3{
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
}

.second{
    height: 600px;
    width: 400px;
    margin: 50px;
    /* border: 3px solid red; */
}


.second__box_container{
    width: 400px;
    height: 50%;
    display: flex;
}
.second__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    background: #4169E1;
}
.second__box:nth-child(1){
    border-right: 2px solid #fff;
}

.second__box_2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    background: #4169E1;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

}
.second__holder{
    display: flex;
}
.second__box_3{  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    flex-grow: 1;
    background: #000080;
}

.second__box_3:nth-child(2){
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

.second__box_3 h3{
    font-size: 15px;
    text-transform: none;
    font-weight: 200;
}


.third{
    min-height: 200px;
    width: 400px;
    margin: 50px;
    /* border: 3px solid red; */
}

.third__header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #5b83fc;
    border-bottom: 2px solid #fff;
}

.third__container{
    display: flex;
    width: 100%;
    height: 300px;

}

.third__box_holder{
    height: 100%;
    width: 40%;
    border-right: 2px solid #fff;
}
.third__hero{
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;
    height: 40%;
    background: #DDA0DD;
    border-bottom: 2px solid #fff;
}
.third__sidebar{
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 60%;
    background: #09a109;
}

.third__box_holder_2{
    height: 100%;
    width: 60%;
}

.third__box_1{
    text-align: center;
    padding: 10px;
    height: 70%;
    width: 100%;
    background: #c2c207;
    border-bottom: 2px solid #fff;
}
.third__box_1 p{
    font-size: 10px;
    color: #fff;
    font-weight: 100;
    margin: 5px;
}
.third__box_2{
    text-align: center;
    padding: 10px;
    height: 30%;
    width: 100%;
    background: #696969;
}

.third__container_2{
    display: flex;
    height: 70px;
    width: 100%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.third__box_3{
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 75%;
    background: #008000;
    border-right: 2px solid #fff;
}
.third__box_4{
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 25%;
    background: #ec98ec;
}
.third__footer{
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    background: #e98502;
}


.fourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 655px;
    margin: 50px;
    background: #aaa9a9;
    border: 2px solid #000;
}
.fourth__header{
display: flex;
justify-content: center;
margin-top: 20px;
 width: 97%;
 height: 60px;
 background: #D3D3D3;
 border: 2px solid #000;
}

.fourth__nav{
    margin-top: 25px;
    height: 25px;
    width: 95%;
    background: #ffffff;
    border: 2px solid #000;
}
.fourth__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 97%;
    height: 480px;
}

.fourth__box_1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 38%;
    background: #D3D3D3;
    border: 2px solid #000;
    
}
.fourth_box_holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 20px;
    width: 94%;
    height: 450px;
}

.fourth__header_2{
    border: 2px solid #000;
    height: 35px;
    width: 100%;
    background: #fff;
    position: relative;
    top: 5px;
}

.fourth__nav_2{
    height: 350px;
    width: 100%;
    background: #fff;
    border: 2px solid #000;
}

.fourth__footer_2{
    height: 35px;
    width: 100%;
    background: #fff;
    border: 2px solid #000;

}
.fourth__box_2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background: #D3D3D3;
    border: 2px solid #000;
}
.fourth__header_3{
    border: 2px solid #000;
    position: relative;
    top: 25px;
    height: 35px;
    width: 100%;
    background: #fff;

}
.fourth__article{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 100%;
    background: rgb(173, 172, 172);
    border: 2px solid #000;
}

.fourth__article_holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 8px;
    width: 96%;
    height: 83%;
}

.fourth__content{
    width: 100%;
    height: 25px;
    background: #fff;
    border: 2px solid #000;
}
.fourth__content_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.fourth__content_2_box{
    height: 100%;
    width: 64%;
    background: #fff;
    border: 2px solid #000;
}

.fourth__content_2_box_2{
    height: 100%;
    width: 33%;
    background: #fff;
    border: 2px solid #000;
}
.fourth__footer{
    width: 97%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: rgb(121, 121, 121);
    border: 2px solid #000;

}
h2{
    position: relative;
    font-size: 10px;
}