*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none_dis{
    display: none;
}
.header{
    background-color: #222220;
}

.wrapper{
    width: 1190px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
}

.header__nav_manu{
    display: flex;
    align-items: center;
    column-gap: 42px;
    font-size: 18px;
    position: relative;
    

}



.header__nav_manu a{
    text-decoration: none;
    color: #fff;
    transition: color .5s;
}

.header__nav_manu a:hover{
    color: #CB3B48;
    
}


.header__nav{
    display: flex;
    column-gap: 30px;
}

.header__nav_mob{
    display: none;
}
.header__drop_down_manu{
    display: none;
    background: #222220;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 11px 9px;
    width: 172px;
    position: absolute;
}

.hov:hover .header__drop_down_manu{
    display: block;
}


.header__drop_down_item{
    border-top: 2px solid #2F2F2F;;
}

.header__phone{
    background-color: #000;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(189 45 67 / 50%);
}

.mobili_phone{
    display: none;
    background-color: #000;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(189 45 67 / 50%);
}


.header__phone:hover{
    background-color: #CB3B48;
}
.header__btn{
    height: 50px;
    width: 179px;
    font-size: 16px;
    color: #fff;
    background-color: #CB3B48;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all .5s;
}

.header__btn:hover{
    background-color: #fff;
    color: #CB3B48;
}

.news_section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: url(../img/bg.png) no-repeat 50%/cover;
}

.news_section__text{
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 40px;
}

.news_section__slider{
    display: flex;
    margin-top: 30px;
}
.news_section__item img{
    width: 238px;
}

.arr{
   position: relative;
   top: 125px;
   cursor: pointer;
   transition: filter .5s;
   height: 50px;
}

.arr:hover{
    filter: invert(1);
}



.bar_manu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #222220;
}


.bar_manu__text{
    display: flex;
    column-gap: 40px;
    margin-top: 35px;
}



.bar_manu__text h3{
    font-size: 30px;
    color: #505050;
    text-transform: uppercase;
    transition: color .5s;
}

.bar_manu__text h3:last-child{
    color: #fff;
}
.bar_manu__text h3:hover{
    color: #CB3B48;
}
.bar_manu__nav{
    display: flex;
    margin-top: 32px;
}

.bar_manu__dishes_list{
    display: flex;
    list-style: none;
    column-gap: 53px;
    row-gap: 12px;
    flex-wrap: wrap;
    padding-right: 33px;
    justify-content: space-between;
    font-size: 18px;
}

.bar_manu__dishes_list a{
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.bar_manu__dishes_list a:hover{
    color: #CB3B48;
}
.bar_manu__search{
    display: flex;
}
.bar_manu__search input{
    border: 1px solid #B7B7B7;
    outline-style: none;
    background: #222220;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 0 16px 23px;
    font-size: 16px;
    color: #B7B7B7;
    
}

.bar_manu__btn{
    height: 50px;
    width: 50px;
    background-color: #CB3B48;
    position: relative;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 15px #CB3B48;
    transition: .5s;
    
}

.bar_manu__btn:hover{
    background-color: #fff;
}

.bar_manu__btn::after{
    content:'' ;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 8px;
    left: 8px;
    transition: .5s;
}

.bar_manu__btn:hover::after{
    border: 2px solid #CB3B48;
}
.bar_manu__btn::before{
    content: '';
    height: 2px;
    width: 13px;
    position: absolute;
    top: 31px;
    left: 26px;
    background-color: #fff;
    transform: rotate(45deg);
    transition: .5s;
}

.bar_manu__btn:hover::before{
    background-color: #CB3B48;
}

.bar_manu__filter{
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-top: 34px;
}


.bar_manu__filter_btn{
    display: flex;
    align-items: center;
    width: 155px;
    height: 50px;
    background: #CB3B48;
    box-shadow: 0px 0px 14.9668px #CB3B48;
    border-radius: 5px;
    position: relative;
    transition: .5s;
}

.bar_manu__filter_btn:hover{
    background: #fff;
    box-shadow: 0px 0px 14.9668px #FFFFFF;
}
.bar_manu__filter_btn:hover .icon  {
    color: #CB3B48;
}

.bar_manu__filter_btn a{
    display: flex;
    align-items: center;
    width: 155px;
    height: 50px;
    padding-left: 19px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: .5s;

}

.bar_manu__filter_btn a:hover{
    color: #CB3B48;
}

.icon{
    position: absolute;
    font-size: 25px;
    color: #fff;
    right: 28px;
    transition: color .5s;
}

.bar_manu__chosen_items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 186px;
    height: 40px;
    border: 1px solid #CB3B48;
    border-radius: 20px;
}

.bar_manu__chosen_items p{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.bar_manu__chosen_items button{
    background: none;
    border: none;
    cursor: pointer;
    color: #696969;
    font-size: 20px;
}

.bar_manu__shut{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 41px;
    margin-top: 39px;
}

.bar_manu__shut_item_1{
    width: 380px;
    background: url(../img/bg__shot.png) ;
    background-color: #161615;
    border-radius: 20px;
    position: relative;
    padding: 20px 0 0 33px;
}


.bar_manu__shut_item_1 h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}
.bar_manu__shut_discribe{
    min-height: 33px;
    color: #CB3B48;
    font-size: 16px;
    margin: 11px 57px 20px 0;
}

.bar_manu__price{
    display: flex;
    align-items: center;
    column-gap: 70px;
    margin-bottom: 24px;
}
.bar_manu__price p{
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}
.bar_manu__price p::after{
    content: '/100г.';
    font-size: 15px;
}
.bar_manu__price button{
    width: 130px;
    height: 40px;
    border: none;
    background: #CB3B48;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.bar_manu__price button:hover{
    color: #CB3B48;
    background-color: #fff;
}
.bar_manu__btn_img{
    position: absolute;
    bottom: 0;
    left: 78px
}

.bar_manu__big{
    margin-top: 56px;
    display: flex;
    column-gap: 25px;
}


.bar_manu__big_pic{
    position: relative;
    right: 33px;
    bottom: 22px;
}


.bar_manu__show_more_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 47px;
    border: none;
    background-color: #CB3B48;
    color: #fff;
    margin: 60px auto;
    box-shadow: 0px 0px 14.9668px #CB3B48;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s;
}

.bar_manu__show_more_btn:hover{
    box-shadow: 0px 0px 14.9668px rgba(255, 255, 255, 0.4);
    background: #FFFFFF;
    color: #CB3B48;
}


.footer{
    background: url(../img/footer_bg.png) #161615;

}

.footer__manu{
    display: flex;
    justify-content: space-between;
    height: 107px;
}

.footer__left{
    padding-top: 34px;
}


.footer__ref_1{
    display: flex;
    align-items: baseline;
    column-gap: 136px;
    padding-bottom: 20px;


}
.footer__ref_1 a{
    color: #9C9C9C;
    font-size: 14px;
}


.footer__mid{
    margin-top: 45px;
}
.footer__mid ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 15px;
    width: 387px;

}


.footer__mid a{
    color: #DCDCDC;
    font-size: 18px;
    text-decoration: none;
    padding-right: 10px;
}

.footer__ref_1 p{
    margin-top: 30px;
    color: #9C9C9C;
    font-size: 14px;
}


.footer__right{
    margin-top: 45px;
    
}
.footer__right a{
    font-weight: bold;
    font-size: 25px;
    color: #BD2D43;
    text-decoration: none;
}

.footer__right p{
    margin-top: 5px;
    color: #8F8F8F;
    font-size: 16px;
} 
.footer__icon_link{
    display: flex;
    margin: 14px 16px 26px 0;
}
.footer__icon_link a{

    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
   
}

.footer__ref_box{
    display: flex;
    column-gap: 21px;

}



