*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 70px;
    margin: 0 100px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 40px;
}

.header__box{
    width: 90px;
    height: 100%;
    background: #0b0b57;
    border-radius: 8px;
}

.header__box_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 100%;
}

.header_img{
    width: 20px;
}

.header_slash{
    width: 20px;
    border-radius: 1.5px;
    border-top: 3px solid #0000FF;
    border-bottom: 3px solid #0000FF;
    padding: 5px 0;

}

.header__second_slash{
    width: 20px;
    height: 3px;
    background: #0000FF;
    border-radius: 1.5px;

}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 335px;
    margin: 0 100px;
    background: #020264;

}
.first__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    margin-top: 80px;
    color: #6363e0;
    text-align: center;
    
}

.first__para{
    margin-top: 10px;
}

.first__button{
    width: 100px;
    height: 30px;
    background: #6363e0;
    margin-top: 20px;
    border-radius: 15px;
}

.first__block{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
    width: 330px;
    height: 100px;
}

.first__box{
    height: 100px;
    width: 100px;
    background: #6363e0;
    border-radius: 7px;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 100px;
    background: #D3D3D3;
}
.second__text{
    margin-top: 100px;
}