*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 70px;
    border: 2px solid red;
    margin: 0 100px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 40px;
    border: 2px solid black;
}

.header__box{
    width: 90px;
    height: 100%;
    background: #0b0b57;
    border-radius: 8px;
}

.header__box_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 100%;
}

.header_img{
    width: 20px;
}

.header_slash{
    width: 20px;
    border-radius: 1.5px;
    border-top: 3px solid #0000FF;
    border-bottom: 3px solid #0000FF;
    padding: 5px 0;

}

.header__second_slash{
    width: 20px;
    height: 3px;
    background: #0000FF;
    border-radius: 1.5px;

}